
*.pyc
ML_Models/DecisionTreeClassifier()
ML_Models/LogisticRegression()
ML_Models/MLPClassifier()
ML_Models/RandomForestClassifier()
ML_Models/SVC()
saved_models/DecisionTreeClassifier
saved_models/DecisionTreeClassifier
Compressed_crime_classification_demo.mp4
